@import url('https://fonts.googleapis.com/css2?family=Line+Seed+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gana+Chocolate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

#wrapper    {width:100%; height:100%;}
#header     {position:relative; width:100%; height:70px; border-bottom:1px solid #eee;}
#header h1  {position:absolute; top:15px; left:20px;}
#header h1 a   {background:url('../images/logo.png') no-repeat 0 0 / 100% auto; font-size:24px; display:inline-block; width:40px; height:40px;}
#header .title  {text-align:center; font:normal 400 35px/2.1 'Dongle', 'Gana Chocolate', 'Line Seed KR', sans-serif; color:#333;}
#header .title a {color:#333; font:inherit;}
#body   {min-height:calc(100vh - 129px); padding:20px;}

.nav .menu  {position:absolute; top:50%; right:15px; width:40px; height:40px; background:transparent; z-index:2; transform:translateY(-50%); transform-origin:top right;}
.nav .menu::before  {position:absolute; content:""; top:20px; left:50%; width:calc(100% - 20px); height:2px; background:#000; transform:translate(-50%, -50%); transition:opacity 0.5s;}
.nav .menu span{width:100%; height:100%; display:block; transition:all 0.5s;}
.nav .menu span::before{position:absolute; content:""; top:10px; left:50%; width:calc(100% - 20px); height:2px; background:#000; transform:translate(-50%, -50%); transition:all 0.5s;}
.nav .menu span::after{position:absolute; content:""; top:30px; left:50%; width:calc(100% - 20px); height:2px; background:#000; transform:translate(-50%, -50%); transition:all 0.5s;}
.nav .menu_list{position:fixed; top:0; right:0; width:0; height:100vh; background:#fff; transition:width 0.5s; overflow:hidden; z-index:1;}
.nav .menu_list ul{border-top:1px solid #222; width:180px; height:calc(100vh - 40px); overflow-y:auto; margin:0 10px;}
.nav .menu_list ul li{border-bottom:1px solid #222;}
.nav .menu_list ul li a {display:block; padding:10px; color:#333;}
.nav .menu_list .user_info {display:flex; width:200px; height:70px; flex-direction:column; align-items:flex-start; justify-content:center; padding:0 20px; gap:5px;}
.nav .menu_list .user_info .username   {color:#c733cc;}
.nav .menu_list .user_info .login    {color:#36c;}
.nav .menu_list .user_info .logout    {color:#36c;}
.nav.on .menu_list{width:200px;}
.nav.on .menu::before {opacity:0;}
.nav.on .menu span::before {width:calc(100% - 10px); top:20px; left:20px; transform:translate(-50%, -50%) rotate(45deg);}
.nav.on .menu span::after {width:calc(100% - 10px); top:20px; left:20px; transform:translate(-50%, -50%) rotate(-45deg);}
.nav.on .menu_list::before{position:absolute; top:0; left:0; width:1px; height:100%; background:#eee; content:"";}

.main       {width:100%; padding:40px 0; text-align:center;}
.board  {text-align:center;}
.board .btn_upload {position:fixed; bottom:100px; right:30px; background:#d50059; color:#fff; width:20px; height:20px; border-radius:50%; padding:10px; z-index:3; transition:all 0.5s;}
.board .btn_upload span {display:block; width:1px; height:1px; overflow:hidden;}
.board .btn_upload.on {bottom:50px; background:#1a3379; transform:rotate(45deg);}
.board .upload_board   {position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; display:none; z-index:2; text-align:left;}
.board .upload_board.on    {display:block;}
.board .upload_board .upload_content {margin-bottom:20px;}
.board .upload_board .upload_content textarea {width:100%; min-height:100px; padding:10px; border:0;}
.board .upload_board .upload_content textarea:focus {outline:none;}
.board .upload_board .upload_files{padding:30px 20px; background:#efefef;}
.board .upload_board .upload_files .file_input {position:relative; width:50px; height:50px; display:inline-block; border-radius:50%; background:#939393;}
.board .upload_board .upload_files .file_input::before  {content:""; position:absolute; top:50%; left:50%; width:2px; height:50%; background:#fff; transform:translate(-50%, -50%);}
.board .upload_board .upload_files .file_input::after  {content:""; position:absolute; top:50%; left:50%; width:50%; height:2px; background:#fff; transform:translate(-50%, -50%);}
.board .upload_board .upload_files .file_input input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.visit  {text-align:center;}
.visit .content {text-align:left;}
.visit .content .list   {margin:20px 0;}
.visit .content .list > li   {border:1px solid #ebebeb; margin-top:10px;}
.visit .content .list > li:first-child{margin-top:0;}
.visit .content .list > li .writer    {position:relative; border-bottom:1px solid #ebebeb; padding:10px; display:flex; flex-direction:row;}
.visit .content .list > li .writer .user  {display:inline-block; color:#0043c3; font-family:'Gana Chocolate', 'Line Seed KR', sans-serif; font-size:15px;}
.visit .content .list > li .writer .date  {position:relative; display:inline-block; padding-left:10px; margin-left:10px;}
.visit .content .list > li .writer .date::before{content:""; position:absolute; top:50%; left:0; width:2px; height:2px; border-radius:50%; background:#000; transform:translateY(-50%);}
.visit .content .list > li .writer > .delete    {position:absolute; top:50%; right:10px; transform:translateY(-50%);}
.visit .content .list > li .text  {min-height:80px; padding:10px; line-height:1.5;}
.visit .content .list > li .replys  {background:#ebebeb;}
.visit .content .list > li .replys > ul {}
.visit .content .list > li .replys > ul li  {padding:0 10px 10px; border-top:1px solid #ddd;}
.visit .content .list > li .replys > ul li:first-child{border-top:0;}
.visit .content .list > li .replys > ul li .reply_writer    {position:relative; border-bottom:1px solid #ddd; padding:10px 0;}
.visit .content .list > li .replys > ul li .reply_writer .user  {display:inline-block; color:#0043c3; font-family:'Gana Chocolate', 'Line Seed KR', sans-serif; font-size:15px;}
.visit .content .list > li .replys > ul li .reply_writer .date  {position:relative; display:inline-block; padding-left:10px; margin-left:10px;}
.visit .content .list > li .replys > ul li .reply_writer .date::before{content:""; position:absolute; top:50%; left:0; width:2px; height:2px; border-radius:50%; background:#000; transform:translateY(-50%);}
.visit .content .list > li .replys > ul li .reply_writer .delete    {position:absolute; top:50%; right:0; transform:translateY(-50%);}
.visit .content .list > li .replys > ul li .comment {padding-top:10px; line-height:1.5;}
.visit .content .list > li .reply  {display:flex; border-top:1px solid #ebebeb; flex-direction:row;}
.visit .content .list > li .reply input{border:0; width:100%; padding:10px;}
.visit .content .list > li .reply input:focus{outline:none;}
.visit .content .list > li .reply button{width:80px; text-align:center; background:#156673; color:#fff;}
.visit .createText  {border:1px solid #ccc;}
.visit .createText textarea  {width:100%; min-height:100px; padding:10px; border:0;}
.visit .createText textarea:focus{outline:none;}
.visit .write  {text-align:right; margin-top:10px;}
.visit .write button    {display:inline-block; padding:10px 20px; background:#1a3379; color:#fff;}
.visit .need_login  {color:#0043c3; margin-top:30px;}
#footer {border-top:1px solid #eee; text-align:center; padding:20px 0;}