.login_wrap {width:100%; height:calc(100vh - 169px); display:flex; justify-content:center; align-items:center;}
.login_wrap .login_box {width:100%; max-width:260px;}
.login_wrap .login_box h1 {text-align:center; margin-bottom:24px; font-size:24px; color:#000;}
.login_wrap .input_group {margin-bottom:16px;}
.login_wrap .input_group label {display:none; margin-bottom:6px; font-size:14px; color:#000;}
.login_wrap .input_group input {width:100%; padding:10px 12px; background:#ecf6ff; border:0; border-bottom:1px solid#c0d8f1; box-sizing:border-box; color:#000; line-height:1.5;}
.login_wrap .input_group input::placeholder {color:#739ddf;}
.login_wrap .input_group input:focus {outline: none; border-color:#0969da;}
.login_wrap .signup_btn {width: 100%; margin-top: 12px; padding: 12px; border: none; border-radius: 6px; background:#306ecb; color: white; font-size: 14px; font-weight: 600; cursor: pointer;}
.login_wrap .signup_btn:hover {opacity: 0.9;}
.login_wrap .signup_btn[disabled] {cursor: not-allowed; filter:grayscale(1); opacity: 0.6;}
.login_wrap .bottom_menu {margin-top: 20px; display: flex; justify-content: center; gap:0; font-size: 14px;}
.login_wrap .bottom_menu button {background: none; border: none; color: #115089; cursor: pointer;}
.login_wrap .error  {color:#f00;}